
<div class="container">
  <div class="row">
    <div class="bg-primary col-xl-12 mt-5 p-5">
       <!-- select the element by attribute -->
      <!-- <div app-servers></div> -->
      <app-header></app-header>
      <app-servers></app-servers>
      <app-server></app-server>
    </div>

  <!-- <p [innerText]="allowNewServer"></p>   -->
 </div>      <!-- directly binding the html element  -->
  <button class="btn btn-primary mt-5" [disabled]="!allowNewServer">Add Server</button>
</div>
<p class="bg-dark text-white my-5">{{serverCreationStatus}}</p>
